extends ./../layout

block content
    h1 Challenges

    table.table.table-striped.table-bordered 
        tr
            th Title
            th Difficulty
            th Due Date
        each challenge in challenges 
            tr
                td 
                    a(href=`/challenges/${challenge.id}`) #{challenge.title} 
                td #{challenge.difficulty}
                td #{challenge.due}
