extends ./../layout

block content
    ul
        each val in challenges 
            li 
            a(href=`/challenges/${val._id}`) #{val.title}
    //- Page where all challenges will be listed
    //- May want pagination for this