extends ./../layout

block content
    h1 Challenges

    table.table.table-striped.table-bordered 
        tr
            th Challenge Name 
            th Difficulty
            th Description
            th Due Date
        each challenge in challenges 
            tr
                td 
                    a(href=`/challenges/${challenge.id}`) #{challenge.title} 
                td #{challenge.difficulty}
                td Fun challenge
                td October 3, 2018
